@inherits LayoutComponentBase
@inject SkapeRoomService SkateRoomService
@inject NavigationManager NavigationManager

<div class="container">
    @*<img class="banner-img" src="img/worldFireAsteroid.jpg" alt="SkateRoom Banner" />*@
    <div class="title">
        <h2>@Title</h2>
    </div>
    
    <!-- TODO: cambiar por video -->
    <img  src="@ImageSource" alt="@Title" />

    <div class="challenge-description">
        @Description
    </div>

    <div class="challenge-puzzle">
        @ChildContent
    </div>

    <div class="button-send-answer">
        <label style="margin-top:20px;" for="answer">Introduce el código para completar la prueba:</label>
        <input style="margin-top:10px;" id="answer" @bind="answer" />
        <button class="next-button" @onclick="NextChallenge">Enviar Respuesta</button>
    </div>
    
    @if (isAnswerChecked && !isAnswerCorrect)
    {
        <p>Lo siento, la respuesta no es correcta. Por favor, vuelve a intentarlo.</p>
    }

</div>

@code {
    [Parameter] public string Title { get; set; } = String.Empty;
    [Parameter] public string ImageSource { get; set; } = String.Empty;
    [Parameter] public MarkupString Description { get; set; }
    [Parameter] public int ChallengerNumber { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string answer;
    private bool isAnswerChecked;
    private bool isAnswerCorrect;

    public void NextChallenge()
    {
        isAnswerChecked = true;
        isAnswerCorrect = SkateRoomService.TryAnswerCurrentChallenge(answer);
        if (isAnswerCorrect)
        {
            if (SkateRoomService.HasMoreChallenges())
            {
                NavigationManager.NavigateTo($"/challenge/{ChallengerNumber + 1}");
            }
            else
            {
                NavigationManager.NavigateTo($"/victory");
            }

        }
    }
}
